@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    margin: 0 auto;
    padding: 24px 0;
}

.wave-linear {
    background: linear-gradient(to right top,
            rgb(238, 255, 0),
            rgb(255, 136, 0),
            rgb(255, 0, 21),
            rgb(132, 0, 255));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
}

.tech-wave {
    font-size: 40px;
    font-weight: 900;
}

.btn-primary {
    background: linear-gradient(to right top,
            rgb(238, 255, 0),
            rgb(255, 136, 0),
            rgb(255, 0, 21),
            rgb(132, 0, 255));
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    border-radius: 100px;
}

.hero-section {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-container {
    position: relative;
    top: 130px;
}

.microphone-image {
    position: relative;
    width: 410px;
    height: 410px;
    margin: 0 auto;
}

.circle-img {
    width: 410px;
    height: 410px;
    display: block;
    object-fit: cover;
}

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}
.badge {
  position: absolute;
  top: 40px;
  right: 670px;

  background: #00FF88;
  color: black;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;

    animation: rotateBadge 2s linear infinite;
  transform-origin: center;
}
@keyframes rotateBadge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.hero-tech-wave {
    font-size: 44px;
    font-weight: 800;
    padding-top: 30px;
}

.hero-info {
    font-size: smaller;
    letter-spacing: 1px;
    color: rgb(199, 199, 199);
    padding-bottom: 10px;
}

.spotify-icon {
    margin-right: 8px;
}

.btn-secondary {
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 30px;
    border-radius: 100px;
    margin-left: 20px;
}

/* podcast-section */
.podcast-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.podcast-container {
    max-width: 1200px;
}

.podcast-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

.podcast-info {
    font-size: smaller;
    color: #CCCCCC;
    margin-bottom: 40px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.hr-row {
    border-top: 1px solid #dddddd;
    margin: 50px 0;
}

.podcast-card {
    margin-bottom: 40px;
}

.podcast-card h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Third section styles */
.choose-section {
    background-color: #230E3D;
    color: #FFFFFF;
}

.choose-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.choose-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.choose-title .card {
    padding: 40px 0;
}

.card .box{
    border: 1px solid greenyellow;
    padding: 40px;
    margin-bottom: 30px;
}
.box-2{
    border: 1px solid greenyellow;
    padding: 40px;
}

.specific-card img {
    margin-bottom: 15px;
}

.specific-card h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.specific-card p {
    font-size: smaller;
    color: #cccccc;
    line-height: 1.6;
    letter-spacing: 1px;
}



/* feature section */

.featured-section {
    background-color: #230E3D;
}

.featured-section h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
}

.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.video-container {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 300px;
    border-radius:30px 30px 0 0;
}

.featured-container .video-card {
    background-color: #351165;
    padding: 20px;
    border-radius: 0 0 30px 30px;
}

.video-card h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.video-card p {
    color: #CCCCCC;
    font-size: smaller;
    margin-bottom: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.video-card span {
    color: #00FF88;
    font-size: smaller;
    font-weight: 600;
    text-decoration: none;
}

/* host-section */
.host-section{
    background-color: #230E3D;
}
.host-section h1{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
.host-container{
    background-color: #351165;
    max-width: 1200px;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 60px 20px;
    border-radius: 35px;
}
.host-img{
    padding-right: 20px;
}

.host-info h2{
        color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;
}

.host-info p{
    font-size: smaller;
    color: #cccccc;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.share-icon{
    gap: 20px;
}
.share-icon div{
    height: 35px;
    width: 35px;
    border: 2px solid rgb(255, 0, 234);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Footer section */
.footer-section{
    background-image: url("./assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;

    display: flex;
    align-items: center; 
}
.footer-section h1{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-container{
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-icons > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-icons > div > p{
    color: #FFFFFF;
}
.footer-container p{
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width:576px) {
    .nav-container ul li{
        display: none;
    }
    .nav-container button{
        display: none;
    }
    .nav-container{
        padding: 20px;
    }
    .podcast-container{
        margin: 20px;
    }
    .btn-primary{
        margin: 10px;
    }
    .btn-secondary{
        margin: 10px;
    }
    .microphone-image {
    position: relative;
    width: 310px;
    height: 310px;
    margin: 0 auto;
}
.badge {
  position: absolute;
  top: 10%;
  right: 19%;

  background: #00FF88;
  color: black;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;

  animation: rotateBadge 1.5s infinite ease-in-out;
  transform-origin: center;
}

.circle-img {
    width: 310px;
    height: 310px;
    display: block;
    object-fit: cover;
}

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}
.card{
    padding: 20px;
}
    .specific-card{
        display: inline-block;
        padding: 20px;
    }
    .box-2{
        margin-bottom: 30px;
    }
    .featured-container{
        padding: 20px;
    }
    .host-container{
        margin: 20px 20px 0 20px;
    }
    .footer-container{
        padding: 20px;
    }
}


@media (min-width: 576px) and (max-width: 992px) {
    .nav-container img{
        display: none;
    }

    .card {
        width: 48%;   /* 2 column layout */
    }
    .badge {
  position: absolute;
  top: 10%;
  right: 19%;

  background: #00FF88;
  color: black;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}
}

@media (min-width: 992px) {
    .nav-container img{
        display: none;
    }
}
